
.logo{
    height: 50px;
    width: 40px;
    margin-left: 20px;
}
.nav-link{
    font-size: 18px;
    margin: 0px 20px;
}
.profile{
    height: 50px;
    width: 50px;
    margin: 0px 20px;
}
.mama{
    background-color: #E5E5E5;
}
.player img{
    height: 56px;
}
.top-player{
    margin-top: 100px;
    background-color: #ffffff;
}
.main{
    max-width: 1150px;
}
.main2 {
    height: 900px;
}
h3 {
    margin: 30px 0px;
    padding: 20px 0px;
    color: rgb(68, 68, 231);
}
hr{
    margin: 20px 0px;
    border: 1px solid rgb(189, 185, 185) !important;
}
.topImg img{
    height: 200px;
    width: 300px;
}
.by {
    margin-left: 315px;
    margin-top: -60px;
}
.kaka h4{
    margin-top: 10px;
    padding: 15px;
}
.second{
    margin-top: 50px;
}
.by a{
    margin-left: 8px;
}
.by h4 a{
    text-decoration: none;
}
p{
    font-size: 20px;
}
.topMain{
    margin-top: 20px;
    background-color: #ffffff;
    height: 550px;
}
.topMain h3{
    padding: 18px;
}

.all_card img{
    height:200px;
    width: 320px;

}
.card.all_card {
    border: none;
    box-shadow: 5px 5px 5px rgb(231, 236, 236);
    border-radius: 10px;
    padding: 10px 20px;
}

p.card-text {
    margin-left: -16px;
    font-size: 23px;
    font-weight: 700;
}
h5 {
    margin-left: -15px;
    color: #f26666;
    font-size: 17px;
}
.rank img{
    height: 14px;
    width: 14px;
}
.rank {
    margin-left: 20px;
}
.tara img{
   height: 18px;
   width: 18px;
}
.time img{
    height: 30px;
    width: 30px;
    margin-left: 55px;
}
.time{
   font-weight: 700;
   font-size:17px;
   color: rgb(92, 91, 91);
}